---
layout: default
---
<h1>🌦 Recent Weather</h1>
<p>
  Instead of a 'forecast' looking into the future, these are 'backcasts' peering into recent history. 
  It's featured posts, but version controlled. It's a feed, without infinite scroll. It's releases, with a chance of rain.
</p>
<p>
  Weather statuses are as follows:
</p>
<p style="line-height: 1;">🌤 Created</p>
<p style="line-height: 1;">🌧 Updated</p>
<p style="line-height: 1; color: grey;"><em>🌩 Deleted (Currently not active)</em></p>

<hr>

<h3 style="padding-bottom: 12px;">Posts</h3>
{% assign recent_posts = site.posts | recent: site.recent %}
{% for post in recent_posts %}
  <p style="display: flex; justify-content: space-between;">
    <!-- note.weather is a 'recent'-specific data attribute -->
    <a class="wiki-link" href="{{ post.permalink }}">{{ post.weather }} {{ post.title }}</a>
    <span style="color: grey; float: right;">{{ post.updated | date: "%Y-%m-%d" }}</span>
  </p>
{% endfor %}

<hr>

<h3 style="padding-bottom: 12px;">Notes</h3>
{% assign recent_notes = site.notes | recent: site.recent %}
{% for note in recent_notes %}
  <p style="display: flex; justify-content: space-between;">
    <!-- note.weather is a 'recent'-specific data attribute -->
    <a class="wiki-link" href="{{ note.permalink }}">{{ note.weather }} {{ note.title }}</a>
    <span style="color: grey; float: right;">{{ note.updated | date: "%Y-%m-%d" }}</span>
  </p>
{% endfor %}

<hr>
