# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata
_site/

# Dendron
node_modules
.dendron.*
build

# Obsidian config
.obsidian/
obsidian.css

# macos
.DS_Store

# d3 data
notes_graph.json
notes_tree.json
