# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Dendron
node_modules
.dendron.*
build

# Obsidian config
.obsidian/
obsidian.css

# macos
.DS_Store
