//
// Typography
//

$body-font-family: Georgia, serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$click-font-family: 'Trebuchet MS', sans-serif !default; // 'click' because this font invites users to click on the text.

$root-font-size: 16px !default; // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

//
// Font size
// `-sm` suffix is the size at the small (and above) media query
//

$font-size-1: 9px !default;
$font-size-1-sm: 10px !default;
$font-size-2: 11px !default;
$font-size-3: 12px !default;
$font-size-4: 14px !default;
$font-size-5: 16px !default;
$font-size-6: 18px !default;
$font-size-7: 24px !default;
$font-size-8: 32px !default;
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-0-75: $spacing-unit * 0.15,
  sp-1: $spacing-unit * 0.25,
  sp-1-75: $spacing-unit * 0.4,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

//
// Borders
//

$border: 1px solid !default;
$border-radius: 4px !default;

//
// "Grid" system
//

$header-height: 60px !default;
$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$content-width: 700px !default;
$nav-width: 264px !default;
$nav-width-md: 248px !default;
$nav-width-lg: calc((100% - #{$nav-width + $content-width}) / 2 + (.6 * #{$nav-width})) !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1700px,
) !default;

// 
// Z-Indices
// 

$z-nav: 10;
$z-nav-content: 20;
$z-nav-component: 30;
$z-nav-search: 35;

$z-tooltip: 40;
$z-modal: 50;

$z-burger: 100;
