<nav role="navigation" aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb-nav-list">
    {% for ancestor in page.ancestors %}
      {% if ancestor.first %}
      <li class="breadcrumb-nav-list-item">
        <a class="wiki-link" href="{{ ancestor.url }}">{{ ancestor.title }}</a>
      </li>
      {% else %}
        <li class="breadcrumb-nav-list-item missing-note-txt">
          {{ ancestor }}
        </li>
      {% endif %}
    {% endfor %}
    <li class="breadcrumb-nav-list-item">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</nav>
