<!-- <table class="infobox" style="width: 40%; float: right;">
  <tbody>
    <th style="width: 100%;">{{ page.title }}</th>
    {% assign attributes = page.attributes | doc_type: "entries" %}
    {% for attr in attributes %}
      <tr>
        <th>{{ attr.type | capitalize }}</th>
        <td><a class="wiki-link" href="{{ attr.doc.url | relative_url }}">{{ attr.doc.title }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->

{% assign attributes = page.attributes | doc_type: "entries" %}
{% if attributes.size > 0 %}
  <div class="infobox" style="padding: 1em; width: 40%; float: right;">
    <p class="title">Attributes</p>
    <ul>
      {% for attr in attributes %}
        <li style="display: flex; justify-content: space-between;">
          <span>{{ attr.type | capitalize }} : </span>
          <span><a class="wiki-link" href="{{ attr.doc.url | relative_url }}">{{ attr.doc.title }}</a></span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
