<div id="fork">
  <div style="float: right;">
    <label class="fork-selector">
      <input id="fork-checkbox" type="checkbox">
      <span id="fork-emoji-span">🚏</span>
    </label>
  </div>
  <nav role="navigation" aria-label="" class="fork-nav">
    <span class="fork-nav-title">
      Forks On The Path
    </span>
    <div class="fork-nav-forks">
      <div>
        <h4 class="fork-nav-subtitle">Children</h4>
        <ul class="fork-nav-list">
          {% for child in page.children %}
            {% if child.first %}
            <li class="fork-nav-list-item">
              <a class="wiki-link" href="{{ child.url }}">{{ child.title }}</a>
            </li>
            {% else %}
              <li class="fork-nav-list-item missing-note-txt">
                {{ child }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div>
        <h4 class="fork-nav-subtitle">Backlinks</h4>
        <ul class="fork-nav-list">
          {% for blink in page.backlinks %}
            {% if blink.first %}
            <li class="fork-nav-list-item">
              <a class="wiki-link" href="{{ blink.url }}">{{ blink.title }}</a>
            </li>
            {% else %}
              <li class="fork-nav-list-item missing-note-txt">
                {{ blink }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
