<style>
/*body{ 
  width: 100%; 
  margin: 0; padding: 0; 
  display: flex; 
  font-family: sans-serif; font-size: 75%; } */
/*.controls {
  flex-basis: 200px;
  padding: 0 5px;
}
.controls .force {
  background-color:#eee;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0;
}
.controls .force p label { margin-right: .5em; font-size: 120%; font-weight: bold;}
.controls .force p { margin-top: 0;}
.controls .force label { display: inline-block; }
.controls input[type="checkbox"] { transform: scale(1.2, 1.2); }
.controls input[type="range"] { margin: 0 5% 0.5em 5%; width: 90%; }*/
/* alpha viewer */
/*.controls .alpha p { margin-bottom: .25em; }
.controls .alpha .alpha_bar { height: .5em; border: 1px #777 solid; border-radius: 2px; padding: 1px; display: flex; }
.controls .alpha .alpha_bar #alpha_value { background-color: #555; border-radius: 1px; flex-basis: 100% }
.controls .alpha .alpha_bar:hover { border-width: 2px; margin:-1px; }
.controls .alpha .alpha_bar:active #alpha_value { background-color: #222 }*/

/* SVG styles */
/* svg .graph-wrapper {
  flex-basis: 100%;
  min-width: 200px;
  height: 100%;
  width: 100%;
} */
.links line {
  stroke: #8C6239;
}
.nodes circle {
  pointer-events: all;
  /* stroke: #31AF31; */
  fill: #31AF31;
}
</style>

<svg id="svg-nav" class="sidenav"></svg>
<!-- <svg id="graph-wrapper" class="sidenav graph-wrapper"></svg> -->
<!-- <svg id="tree-wrapper"></svg> -->
<label class="container">Graph Type
  <input id="graphType" type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
