<style>
/* SVG styles */
/* svg .graph-wrapper {
  flex-basis: 100%;
  min-width: 200px;
  height: 100%;
  width: 100%;
} */
.nodes [active] {
  fill: yellow;
}
.nodes .label {
  fill: #fff;
}
.nodes .missing {
  fill: #666666;
}
.links line {
  stroke: #8C6239;
}
.nodes circle {
  pointer-events: all;
  fill: #31AF31;
}
</style>

<svg id="svg-nav" class="side-bar"></svg>
<!-- <svg id="graph-wrapper" class="sidenav graph-wrapper"></svg> -->
<!-- <svg id="tree-wrapper"></svg> -->
<label class="container">Graph Type
  <input id="graphType" type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
