<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190413040-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', {{ site.ga_tracking }}, { 'anonymize_ip': true });
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{{ page.title }}</title>
  
  <link rel="icon" type="image/png">    
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  {% feed_meta %}
  {% seo %}

</head>
