<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{{ page.title }}</title>
  
  <link rel="icon" type="image/png">    
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <script>
    // from: https://mxb.dev/blog/color-theme-switcher/
    // if there's a theme id in localstorage, use it on the
    localStorage.getItem('theme-colors') && 
    document.documentElement.setAttribute('data-theme', localStorage.getItem('theme-colors'))
  </script>
  <script src="//unpkg.com/element-resize-detector/dist/element-resize-detector.min.js"></script>
  <script src="//unpkg.com/force-graph"></script>

  {% feed_meta %}
  {% seo %}

</head>
