<div id="local-nav">
  
  {% if include.type == "entry" %}
    {% if page.path == site.bonsai.entries.root_path %}
      <img id="root-logo">
    {% endif %}
  {% else if include.type == "post" %}
    <div class="toc">
      {% include toc.html html=content class="toc-list" item_class="toc-list-item" anchor_class="toc-list-item-anchor" %}
    </div>
  {% endif %}

  <div class="entry-box-bar">
    {% if site.social.enabled %}
      {% include share.html %}
    {% endif %}
    {% if include.type == "entry" %}
      <div class="entry-head-link-emoji-wrapper">
        <label class="btn">
          <input id="entry-head-links-checkbox" type="checkbox">
          <span id="entry-head-link-emoji-span" title="Toggle Linked Entries">
            {{ site.data.emoji.entries }}
          </span>
        </label>
      </div>
    {% endif %}
  </div>

  <!-- entry -->
  {% if include.type == "entry" %}
    <!-- linked entries -->
    <div class="entry-box-wrapper">
      <nav id="entry-box-link-nav" class="entry-box-link-nav" role="navigation" aria-label="">
        <span class="entry-box-link-type-title" title="Attribute Entry">{% include img/bullet-net-web.svg %}</span>
        {% assign attributes = page.attributes | doc_type: "entries" %}
        {% if attributes.size == 0 %}
          <p class="small-descr" style="text-align: center;">No attribute entries.</p>
        {% else %}
          <table>
            <tbody>
                {% for attr in attributes %}
                  <tr>
                    <th rowspan="{{ attr.urls | size }}" scope="rowgroup">{{ attr.type | capitalize }}</th>
                    {% for doc_url in attr.urls %}
                      {% assign attr_doc = site.entries | where: "url", doc_url | first %}
                      <td>
                        {% for stat_tag in attr_doc.status %}
                          {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
                          <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
                        {% endfor %}
                        <a class="wiki-link" href="{{ attr_doc.url | relative_url }}">{{ attr_doc.title }}</a>
                      </td>
                  </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </nav>
    </div>
  <!-- post -->
  {% else if include.type == "post" %}
    <div class="tag-pills">
      {% for sem_tag in page.tags %}
        {% assign sem_tag_file = sem_tag | append: ".md" %}
        {% assign entry = site.entries | find_exp: "item", "item.path contains sem_tag_file" %}
        <button class="tag-pill">
          {% if entry %}
            {% for stat_tag in page.status %}
              {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
              <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
            {% endfor %}
            <a class="sem-tag" href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
          {% else %}
            <span class="small-descr disabled">{{ sem_tag }}</span>
          {% endif %}
        </button>
      {% endfor %}
    </div>
  <!-- oops -->
  {% else %}
      
  {% endif %}
</div>