<nav id="site-nav" class="site-nav" role="navigation">
  <header>
    <span>
      <a id="home-btn" class="btn btn--green" href="{{ '/' | relative_url }}" title="Go Home">
        {{ site.data.emoji.home }}
      </a>
    </span>
    <span class="dropdown">
      <button class="dropdown__btn">
        <span title="Page Navigation">
          {{ site.data.emoji.pages }}
        </span>
      </button>
      <div class="dropdown__content">
        {% assign recent_page = site.pages | where: "name", "recent.md" %}
        {% if recent_page.first %}
          <a class="btn btn--blue drop-1" href="{{ '/recent' | relative_url }}" title="Go To Recent Changes">
          {{ site.data.emoji.recent }}
          </a>
        {% endif %}
        {% if site.states %}
          {% assign root_state = site.states | find_exp: "item", "item.path == site.bonsai.states.root_path" %}
          <a class="btn btn--brown drop-2" href="{{ root_state.url | relative_url }}" title="Go To States">
            {{ site.data.emoji.stat_tags }}
          </a>
        {% endif %}
        {% assign archive_page = site.pages | where: "name", "archive.md" %}
        {% if archive_page.first %}
          <a class="btn btn--purple drop-3" href="{{ '/archive' | relative_url }}" title="Go To Archive">
            {{ site.data.emoji.archive }}
          </a>
        {% endif %}
      </div>
    </span>
    <span class="dropdown">
      <button class="dropdown__btn">
        <span title="Theme Color Toggles">
          {{ site.data.emoji.colors }}
        </span>
      </button>
      <div class="dropdown__content">
        {% for theme in site.data.themes %}
          <a data-theme-id="{{ theme.id }}" class="btn btn--yellow drop-{{ forloop.index }}" title="{{ theme.id }}">
            {{ theme.emoji }}
          </a>
        {% endfor %}
      </div>
    </span>
    <span class="dropdown">
      <button class="dropdown__btn">
        <span title="Site-Nav Toggles">
          {{ site.data.emoji.site_nav }}
        </span>
      </button>
      <div class="dropdown__content">
        {% if site.bonsai.nav.visited.enabled %}
          <label class="btn btn--orange">
            <input id="nav-type-checkbox" type="checkbox" checked="checked">
            <span id="nav-type-emoji-span" title="Toggle Nav Type"></span>
          </label>
        {% endif %}
        <label class="btn btn--green">
          <input id="graph-type-checkbox" type="checkbox" checked="checked">
          <span id="graph-type-emoji-span" title="Toggle Graph Type"></span>
        </label>
        <a id="delete-btn" class="btn btn--red drop-3" title="Delete Visited History">
          {{ site.data.emoji.delete }}
        </a>
      </div>
    </span>
    {% if site.bonsai.nav.search.enabled %}
      <a id="search-btn" class="btn btn--brown" href="#" title="Search (cmd/ctrl+k)">
        {{ site.data.emoji.search }}
      </a>
    {% endif %}
  </header>

  {% if site.bonsai.nav.search.enabled %}
    <div id="search">
      <input id="search-input" class="search__input hide"></input>
      <div id="search-results" class="search__results"></div>
    </div>
  {% endif %}
  <div id="site-nav-content">
    <div id="jekyll-graph"></div>
    {% if site.bonsai.nav.visited.enabled %}
      <nav id="visited-nav" class="visited-nav"></nav>
    {% endif %}
  </div>

  <footer>
    <span class="text--small">🪴 Grown with 💚 from a <a class="web-link" href="https://jekyll-bonsai.netlify.app">jekyll-bonsai</a></span>
  </footer>
</nav>
