//
// The basic two column layout
//

.side-bar {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    width: $nav-width-md;
    flex-wrap: nowrap;
    position: fixed;
    height: 100%;
  }

  @include mq(lg) {
    width: $nav-width-lg;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: $nav-width-lg;
  }
}

.main-content-wrap { 
  @include container;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

// .main-header {
//   background-color: $sidebar-color;
//   margin-bottom: $sp-5;

//   display: flex;
//   justify-content: space-between;
//   height: $header-height;
//   background-color: $body-background-color;
// }
