//
// The basic two column layout
//

.side-bar {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    // flex-direction: column;
    // align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: calc(
      (100% - #{$nav-width + $content-width}) / 2 + #{$nav-width}
    );
  }
}

.main-content-wrap { 
  @include container;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  // display: none;
  background-color: $sidebar-color;
  margin-bottom: $sp-5;

  display: flex;
  justify-content: space-between;
  height: $header-height;
  background-color: $body-background-color;

  // &.nav-open {
  //   // display: flex;
  //   // display: block;

  //   @include mq(lg) {
  //     overflow-x: auto;
  //   }
  // }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  // @include mq(lg) {
  //   width: $nav-width;
  // }
}

.site-nav {
  display: none;
  // position: relative;

  &.nav-open {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  @include mq(md) {
    display: block;
    // padding-top: $sp-8;
    // padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  // @include container;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // padding-top: $sp-2;
  // padding-bottom: $sp-2;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
