// 
// scss for index
// 

#home {
  padding: $sp-5;
}

.lead {
  padding: $sp-2;

  & .lead-img {
    text-align: center;
    padding: $sp-6;

    & #home-logo {
      height: 60%; 
      width: 60%;
    }
  }

  & .lead-title {
    text-align: center;
    padding: $sp-1;
  }

  & .lead-content {
    text-align: left;
    padding: $sp-4;
  }
}

// very similar to _recent.recent-list
.main-columns {

  @include mq(md) {
    display: flex;
  }

  & > * {
    margin: $sp-1;

    @include mq(md) {
      flex-basis: 100%;
    }
  }

  & .column {
    @include mq(md) {
      display: flex;
      flex-direction: column;
    }

    & .column-heading {
      text-align: left;
      padding-left: $sp-3;
    }
  
    & .column-content {
      padding: $sp-2;
  
      & .column-item {
        display: flex;
        justify-content: space-between;
        padding: $sp-2;

        &::before {
          content: "" !important;
        }

        & .column-item-status {
          @include fs-3;
          display: flex;
          justify-content: center;
          width: 15%;
        }

        & .column-item-text {
          // is a flex item
          flex-grow: 1;
          align-items: center;
          // is a flex container
          display: flex;
          justify-content: space-between;
    
          & .column-item-title {
            @include fs-5;
            padding-left: $sp-3;
          }
      
          & .column-item-date {
            color: $grey-dk-000;
          }

        }
      }
    }
  
    & .column-foot {
      @include fs-2;
      color: $grey-dk-000;
      text-align: right;
      padding-bottom: $sp-3;
  
      @include mq(md) {
        text-align: center;
        margin-top: auto;
      }
    }
  }
}
