// 
// scss for posts page
// 

#posts {
  
  .posts-list {
    padding: $sp-4;
  
    .posts-list-item {
      display: flex; 
      justify-content: space-between;
      list-style-type: none !important;
      
      &::before {
        content: "" !important;
      }
  
      & .list-item-date {
        color: $date-txt-color;
      }
    }
  }  
}
