//
// scss for recent page
//

.date-updated {
  float: right;
  color: grey;
}

.recent-list {
  padding: $sp-4;
  
  .recent-list-item {
    display: flex; 
    justify-content: space-between;
    list-style-type: none !important;
    
    &::before {
      content: "" !important;
    }
  }
}

.leader {
  margin-bottom: $sp-10;
}
