// 
// scss for tag page
// 

.tag-list {
  padding: $sp-4;
  display: block; // columns require block
  column-count: 2;
  column-width: $content-width / 6;
  
  .tag-list-item {
    // display: flex; 
    list-style-type: none !important;
    
    &::before {
      content: "" !important;
    }
  }
}

.none-for-tag {
  padding: $sp-5;
  text-align: center;
  color: grey;
}
