//
// Buttons and things that look like buttons
//

.site-nav-btn {
  @include fs-6;
  border: none;
  background: none;
  cursor: pointer;
  transition: all .2s ease-in-out;    
  
  &:hover {
    transform: scale(1.5); 
  }

  #tags-emoji-span {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-brown);
  }

  #posts-emoji-span {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-purple);
  }

  #recent-emoji-span {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-blue);
  }
}

.btn-selector {
  @include fs-6;
  display: inline-block; // transform animation breaks without this on theme-colors and graph-type...
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.5); 
  }

  /* Hide the browser's default checkbox */
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  #theme-colors-emoji-span {
    filter: drop-shadow(0 0 0.7mm $drop-shadow-yellow);
  }

  #graph-type-emoji-span {
    filter: drop-shadow(0 0 0.7mm $drop-shadow-green);
  }

  #note-head-emoji-span {  
    filter: drop-shadow(0 0 0.7mm $drop-shadow-brown);  
  }
}

.note-foot-selector {
  @include fs-6;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-right: $sp-3;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.5); 
  }

  /* Hide the browser's default checkbox */
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  #note-foot-posts-emoji-span {
    filter: drop-shadow(0 0 0.7mm $drop-shadow-purple);  
  }

  #note-foot-link-emoji-span {
    filter: drop-shadow(0 0 0.7mm $drop-shadow-brown);
  }

  #note-foot-webmentions-emoji-span {
    filter: drop-shadow(0 0 0.7mm $drop-shadow-blue);
  }
}

.wiki-link-nav-selector {
  z-index: 5;
  display: block;
  position: fixed;
  right: $sp-2;
  bottom: $sp-2;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  font-size: $font-size-6;
  text-align: center;
  filter: drop-shadow(0 0 0.7mm $drop-shadow-green);

  /* Hide the browser's default checkbox */
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & #wiki-link-nav-span {
    margin-top: -6px;
  }
}
