//
// Graph attributes (garden/site-nav)
//

svg {
  .links line {
    stroke: $link-line-stroke-color;
    stroke-width: $link-line-stroke-width;
    stroke-dasharray: $link-line-dash-val;
  }

  .nodes circle {
    pointer-events: all;
    stroke: $node-stroke-color;
    stroke-width: $node-stroke-width;
    fill: $node-unvisited-color;

    &:hover {
      cursor: pointer;
    }

    &.pulse {
      fill: $node-active-color;
      animation: pulse 2s linear infinite;
    }

    &.pulse-sem-tag {
      fill: $node-tagged-color;
      animation: pulse 2s linear infinite;
    }
    
    &.missing {
      fill: $node-missing-color !important;
      cursor: help;
    }

    // &.unvisited {
    //   fill: $node-unvisited-color;
    // }

    &.visited {
      fill: $node-visited-color;
    }
  }

  .text text {
    fill: $body-text-color;
  }

  .active {
    opacity: $hover-active-alpha;
    filter: brightness($hover-active-brightness);
    font-size: 50%;
    z-index: 10;
    transition: all 0.1s ease;
  }

  .inactive {
    opacity: $hover-inactive-alpha;
    filter: brightness($hover-inactive-brightness);
    z-index: 0;
    transition: all 0.1s ease;
  }

  @keyframes pulse {       
    0% {transform: scale(1.0); opacity: 1;}
    100% {transform: scale(2); opacity: 0;}
  }
}