//
// Graph attributes (garden/site-nav)
//

.links line {
  stroke: $link-line-stroke-color;
  stroke-width: $link-line-stroke-width;
  stroke-dasharray: $link-line-dash-val;
}

.nodes circle {
  pointer-events: all;
  fill: $node-color;
  stroke: $node-stroke-color;
  stroke-width: $node-stroke-width;

  + text {
    fill: $body-text-color;
  }

  &:hover {
    cursor: pointer;
  }

  &.pulse {
    fill: $node-active-color;
    -webkit-animation: pulse 2s linear infinite;
  }
  
  &.missing {
    fill: $node-missing-color;
    cursor: help;
  }
}

@-webkit-keyframes pulse {       
  0% {-webkit-transform: scale(1.0); opacity: 1;}
  100% {-webkit-transform: scale(2); opacity: 0;}
}
