// "hover-preview tooltip"

.hp-tooltip {
  @include fs-2;
  display: none;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 250px;
  z-index: $z-tooltip;
  padding: 2em; // don't use sass spacing variables -- it makes hover preview buggy.
  border: 1px solid var(--accent-light-color);
  border-radius: 15px;
  background: var(--body-background-color);
  opacity: 0;
  box-shadow: 0 1px 2px rgba(var(--box-shadow-color), 0.12), 0 3px 10px rgba(var(--box-shadow-color), 0.08);

  h1, h2, h3, h4, h5, h6 {
    @include fs-7;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 5;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--body-background-color) 90%);
  }
}

#hp-iframe {
  display: none; 
  height: 0; 
  width: 0;
}