#local-nav {
  width: 50%;

  // sm

  // @include mq(md) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
  //   width: $nav-width-md;
  //   flex-wrap: nowrap;
  //   position: fixed;
  //   height: 100%;
  // }

  // @include mq(lg) {
  //   width: $nav-width-lg;
  // }
  // .local-nav-title {
  //   text-align: center;
  // }
  
  .entry-box-bar {
    display: flex;
    justify-content: center;

    .entry-head-link-emoji-wrapper {
      align-self: center;
    }
  }

  .entry-box-wrapper {
    padding-top: $sp-3;
    width: 100%;

    .entry-box-link-nav {
      display: flex;
      flex-direction: column;

      .entry-box-link-type-title {
        text-align: center;
      }
    }
  }

  table {
    padding: $sp-1;
    background-color: $transparent;

    th {
      background-color: $transparent;
      border-bottom: 0;
    }

    td {
      background-color: $transparent;
      border-bottom: 0;
      padding: $sp-1;
    }

    // .attribute-row {
    //   padding-top: $sp-5;
    // }
  }
}

.toc {
  display: flex;
  justify-content: center;
  padding-top: $sp-5;
  padding-right: $sp-5;
}

.toc-list {
  margin-bottom: 0;
}

.toc-list-item {
  @include fs-4;

  &::before {
    display: none; 
  }
}

.toc-list-item-anchor {
  color: $wiki-link-color;
  text-decoration: none;
  background-image: linear-gradient($wiki-link-underline-color 0%, $wiki-link-underline-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      rgba($wiki-link-color, 0.45) 0%,
      rgba($wiki-link-color, 0.45) 100%
    );
    background-size: 1px 1px;
  }
}

.sem-tag {
  @include fs-2;
  color: $wiki-link-color;
}

.tag-pills {
  display: flex;
  justify-content: center;

  .tag-pill {
    padding: $sp-2;
    margin: $sp-2;
    border-radius: 15px;
    color: $wiki-link-color;
    border: 1px solid $separator-color;
  
    &:hover {
      background-color: $base-button-color;
    }
    
    // TODO: fix disabled behavior 
    // (probably should switch tags to be btns anyway...)
    &.disabled {
      color: $tag-disabled-color;
      border: 1px solid $tag-disabled-color;
  
      &:hover {
        background-color: $body-background-color !important;
      }
    }
  }
}

#root-logo {
  height: 70%;
  width: 70%;
  align-self: center;
  padding: $sp-3;
}