//
// navigation
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity

// note-breadcrumb nav

.note-head-nav {
  @include mq(md) {
    margin-top: -$sp-4;
  }
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;  

  .note-head-breadcrumbs {
    padding: $sp-2;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    list-style: none;
  
    .note-head-breadcrumb {
      @include fs-2;
      
      &::before {
        display: none;
      }
    
      &::after {
        margin-right: $sp-2;
        margin-left: $sp-2;
        color: $grey-dk-000;
        content: ">";
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  } 
}

// note-foot nav

.note-foot-wrapper {
  margin-top: $sp-6;
  margin-bottom: $sp-6;
  display: flex;

  .note-foot-nav {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: $sp-3;
    border-radius: 16px;
    background-color: $note-foot-background-color;
    // blur box edges
    // from: https://stackoverflow.com/questions/15775365/how-to-blur-div-edges
    box-shadow: 0 0 5px 10px $note-foot-background-color;

    .note-foot-nav-sections {
      display: flex;
    }
    
    .note-foot-nav-section {
      padding-left: $sp-2;
      padding-right: $sp-2;
    }

    .note-foot-nav-title {
      @include fs-4;
      padding: $sp-2;
      color: $note-foot-text-color;
    }
  
    .note-foot-nav-subtitle {
      @include fs-2;
      color: $note-foot-text-color;
    }

    .note-foot-nav-list {
      display: block; // columns require block
      column-count: 2;
      column-width: $content-width / 6;
      padding-left: 0;
      list-style: none;
  
      .note-foot-nav-list-item {
        border-radius: 16px;
        padding: $sp-1;
        max-width: $content-width / 4;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
  
        &::before {
          display: none;
        }
      }
    }
  }
}
