//
// navigation
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity

// entry-breadcrumb nav

.entry-head-nav {
  @include mq(md) {
    margin-top: -$sp-4;
  }
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;  

  .entry-head-breadcrumbs {
    padding-left: 0;
    padding-top: $sp-2;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    list-style: none;
  
    .entry-head-breadcrumb {
      @include fs-2;
      display: flex;
      flex-direction: row;
      padding-left: $sp-2;
      
      &::before {
        display: none;
      }
    }
  } 
}

// entry-foot nav

.entry-foot-wrapper {
  margin-top: $sp-6;
  margin-bottom: $sp-6;
  display: block;

  .entry-foot-nav-title {
    @include fs-4;
    color: $entry-foot-text-color;
  }

  .entry-foot-nav-subtitle {
    @include fs-2;
    color: $entry-foot-text-color;
  }

  .entry-foot-nav-empty {
    text-align: center;
  }

  .entry-foot-nav {
    display: flex;
    flex-direction: column;
    padding: $sp-3;
    border-radius: 16px;

    .entry-foot-nav-sections {
      display: flex;
    }
    
    .entry-foot-nav-section {
      padding-left: $sp-2;
      padding-right: $sp-2;
    }

    .entry-foot-nav-list {
      display: block; // columns require block
      column-count: 2;
      column-width: $content-width / 6;
      padding-left: 0;
      list-style: none;
  
      .entry-foot-nav-list-item {
        border-radius: 16px;
        padding: $sp-1;
        max-width: $content-width / 4;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
  
        &::before {
          display: none; 
        }
      }
    }
  }
}
