//
// Buttons and things that look like buttons
//

.btn {
  @include fs-6;
  display: flex; // transform animation breaks without this on theme-colors and graph-type...
  cursor: pointer;
  user-select: none;
  padding: $sp-2;
  transition: all .2s ease-in-out;

  // suppress default html button attributes
  border: none;
  background: none;

  &:hover {
    transform: scale(1.5); 
  }

  /* Hide the browser's default checkbox */
  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &--small {
    @include fs-5;
  }

  &--blue {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-blue);
  }

  &--brown {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-brown);
  }

  &--green {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-green);
  }

  &--orange {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-orange);
  }

  &--purple {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-purple);
  }

  &--red {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-red);
  }

  &--yellow {
    filter: drop-shadow(0 0 0.8mm $drop-shadow-yellow);
  }
}

.bonsai-burger-nav {
  // fix in corner
  position: fixed;
  z-index: $z-burger;
  right: $sp-2;
  bottom: $sp-4;
  // flex contents
  display: flex;
  flex-direction: column;
  // interaction
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 0 0.7mm $drop-shadow-green);
  
  /* Hide the browser's default checkbox */
  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  #nav-bonsai {
    margin-left: 5px;
  }

  #nav-base {
    margin-left: 20px;
    margin-right: 20px;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}
