.bullet-scene {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding: $sp-1;

  &__change-type {
    @include fs-6;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__status {
    @include fs-3;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
