---
layout: base
---
<div id="archive" class="archive">

  <div class="hp-title">
    <h1>{{ site.data.emoji.archive }} {{ page.title }}</h1>
    <p>{{ content }}</p>
  </div>
  
  <div class="hp-content">

    
    <h4 class="archive__title">
      {{ site.bonsai.archive.section.posts }}
    </h4>

    <ul class="archive__list">
      {% assign post_items = site.posts | sort: "date" %}
      {% for post in post_items%}
        <li>
          <div class="archive__item">
            <span>
              {% include btn_state.html states=post.status %}
              <a class="wiki-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </span>
            <time class="text--date dt-published">
              {{ post.updated | date: '%s' | date: '%s' | slice: 0, 10 | date: site.bonsai.date_format }}
            </time>
          </div>
        </li>
      {% endfor %}
    </ul>

    <h4 class="archive__title">
      {{ site.bonsai.archive.section.books }}
    </h4>
    <ul class="archive__list">
      {% assign book_items = site.books | sort %}
      {% for book in book_items %}
        <li>
          <div class="archive__item">
            <span>
              {% include btn_state.html states=book.status %}
              <a class="wiki-link" href="{{ book.url | relative_url }}">{{ book.title }}</a>
            </span>
            <time class="text--date dt-published">
              {{ book.updated | date: '%s' | date: '%s' | slice: 0, 10 | date: site.bonsai.date_format }}
            </time>
          </div>
        </li>
      {% endfor %}
    </ul>

    <h4 class="archive__title">
      {{ site.bonsai.archive.section.entries }}
    </h4>
    <ul class="archive__list">
      {% assign entry_items = site.entries | sort: "title" %}
      {% for entry in entry_items %}
        <li>
          <div class="archive__item">
            <span>
              {% include btn_state.html states=entry.status %}
              <a class="wiki-link" href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
            </span>
            <time class="text--date dt-published">
              {{ entry.updated | date: '%s' | date: '%s' | slice: 0, 10 | date: site.bonsai.date_format }}
            </time>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
