---
layout: table-wrappers
---
<!doctype html>
<html>
  {% include head.html %}
  <body>

    <div class="side-bar">
      {% include site-nav.html %}
    </div>
    
    <div class="main" id="top">
      <div id="main-content-wrap" class="main-content-wrap">
        <div id="main-content" class="main-content" role="main">
          {{ content }}
        </div>
      </div>
    </div>

    <label class="wiki-link-nav-selector">
      <input id="wiki-link-nav-checkbox" type="checkbox">
      <img id="wiki-link-nav-bonsai" height="25" width="50" hidden></img>
      <span id="wiki-link-nav-span">[[ ]]</span>
    </label>

    {% include note-preview.html wrapperQuerySelector="content" %}

  </body>
</html>
