---
layout: table-wrappers
---
<!doctype html>
<html>
  {% include head.html %}
  <body>

    <div class="side-bar">
      {% include site-nav.html %}
    </div>
    
    <div class="main" id="top">
      <div id="main-content-wrap" class="main-content-wrap">
        <turbo-frame id="main-content" class="main-content" role="main">
          {{ content }}
        </turbo-frame>
      </div>
    </div>

    <label class="wiki-link-nav-selector">
      <input id="wiki-link-nav-checkbox" type="checkbox">
      <img id="wiki-link-nav-bonsai" height="25" width="50" hidden></img>
      <span id="wiki-link-nav-span">[[ ]]</span>
    </label>

    <!-- from: https://cdn.skypack.dev/@hotwired/turbo -->
    <!-- <script src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-beta.5-LhgiwOUjafYu3bb8VbTv/mode=imports,min/optimized/@hotwired/turbo.js"></script> -->
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    {% webmentions_js %}
    {% include note-preview.html wrapperQuerySelector="content" %}
    <!-- modules: https://stackoverflow.com/questions/58211880/uncaught-syntaxerror-cannot-use-import-statement-outside-a-module-when-import -->
    <script type="module" src="{{ '/assets/js/scripts.js' | relative_url }}"></script> 

  </body>
</html>
