---
layout: default
---

<div id="entry">

  <!-- breadcrumb ancestry path -->
  <header id="entry-header">
    <nav class="entry-head-nav" role="navigation" aria-label="breadcrumb">
      <label class="btn-selector">
        <input id="entry-head-checkbox" type="checkbox">
        <span id="entry-head-emoji-span" title="Toggle Header">
          {{ site.emoji.breadcrumbs }}
        </span>
      </label>
      <ol class="entry-head-breadcrumbs">
        {% for ancestor in page.ancestors %}
          {% assign ancestor_doc = site.entries | where: "url", ancestor | first %}
          <li class="entry-head-breadcrumb">
            <span title="Ancestor Entry">{% include img/bullet-ancestor.svg %}</span>
            {% for stat_tag in ancestor_doc.status %}
              {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
              <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
            {% endfor %}
            <a class="wiki-link {% if ancestor_doc.url == '' %}missing-entry-txt{% endif %} " href="{{ ancestor_doc.url | relative_url }}">
              {{ ancestor_doc.title }}
            </a>
          </li>
        {% endfor %}
        <li class="entry-head-breadcrumb">
          <span title="Ancestor Entry">{% include img/bullet-ancestor.svg %}</span>
          {% for stat_tag in page.status %}
            {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
            <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
          {% endfor %}
          <span>{{ page.title }}</span>
        </li>
      </ol>
    </nav>
  </header>

  <div class="entry-body">
    <h1>{{ page.title }}</h1>
    <p class="small-descr">
      {% for stat_tag in page.status %}
        {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
        <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
      {% endfor %}
      <span>Last Tended: {{ page.updated | date: site.date_format }}</span>
    </p>
    {% include entry-attrs.html %}
    {% if page.path == site.root_entry_path %}
      <img id="home-bonsai" style="float: right; padding: 12px;" height="35%" width="35%">
    {% endif %}
    {{ content }}
    {% if site.social.enabled %}
      {% include share.html %}
    {% endif %}
  </div>

  <footer class="entry-footer">
    <!-- linked entries -->
    <div class="entry-foot-wrapper">
      <div>
        <label class="entry-foot-selector">
          <input id="entry-foot-links-checkbox" type="checkbox">
          <span id="entry-foot-link-emoji-span" title="Toggle Linked Entries">
            {{ site.emoji.entries }}
          </span>
        </label>
      </div>
      <nav id="entry-foot-links-nav" class="entry-foot-nav" role="navigation" aria-label="">
        <!-- determine number of 'backlinks' first to see if we need to use the empty message -->
        {% assign backlinks = page.backlinks | doc_type: "entries" %}
        {% if page.children.size == 0 and backlinks.size == 0 %}
          <p class="small-descr">No linked entries.</p>
        {% else %}
          <div class="entry-foot-nav-sections">
            <div class="entry-foot-nav-section">
              <span class="entry-foot-link-type" title="Child Entry">
                {% include img/bullet-tree.svg %}
              </span>
              <ul class="entry-foot-nav-list">
                {% for child in page.children %}
                  {% assign child_doc = site.entries | where: "url", child | first %}
                  <li class="entry-foot-nav-list-item">
                    {% for stat_tag in child_doc.status %}
                      {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
                      <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
                    {% endfor %}
                    <a class="wiki-link {% if child_doc.url == '' %}missing-entry-txt{% endif %}" href="{{ child_doc.url | relative_url }}">
                      {{ child_doc.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="entry-foot-nav-section">
              <span class="entry-foot-link-type" title="Backlinked Entry">
                {% include img/bullet-net-web.svg %}
              </span>
              <ul class="entry-foot-nav-list">
                {% for backlink in backlinks %}
                  <li class="entry-foot-nav-list-item">
                    {% for stat_tag in backlink.status %}
                      {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
                      <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
                    {% endfor %}
                    <a class="wiki-link" href="{{ backlink.url | relative_url }}">{{ backlink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </nav>
    </div>
    <!-- linked posts -->
    <div class="entry-foot-wrapper">
      <div>
        <label class="entry-foot-selector">
          <input id="entry-foot-posts-checkbox" type="checkbox">
          <span id="entry-foot-posts-emoji-span" title="Toggle Linked Posts">
            {{ site.emoji.posts }}
          </span>
        </label>
      </div>
      <nav id="entry-foot-posts-nav" class="entry-foot-nav" role="navigation" aria-label="">      
        <!-- capture linked_post here -->
        {% capture linked_posts %}
          {% assign num_linked_posts = 0 %}
          <div class="entry-foot-nav-section">
            <ul class="entry-foot-nav-list">
              {% for post in site.posts %}
                {% if post.tags contains page.namespace %}
                  {% assign num_linked_posts = num_linked_posts | plus: 1 %}
                  <li class="entry-foot-nav-list-item">
                    {% for stat_tag in post.status %}
                      {% assign state = site.states | find_exp: "item", "item.emoji == stat_tag" %}
                      <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>
                    {% endfor %}
                    <a class="wiki-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endcapture %}
        <!-- render linked_posts here (the if statement is why we have to do this) -->
        {% if num_linked_posts == 0 %}
          <p class="small-descr">No linked posts.</p>
        {% else %}
          {{ linked_posts }}
        {% endif %}
      </nav>
    </div>  
  </footer>

</div>
