---
layout: base
---

<div id="home" class="home">
  
  <section class="lead">
    <div class="lead__img">
      <img id="home-logo" class="lead__img--size">
    </div>
    {% assign root = site.entries | find_exp: "item", "item.path == site.bonsai.entries.root_path" %}
    <div class="lead__title hp-title">
      <h1 class="p-name"><a class="wiki-link" href="{{ root.url | relative_url }}">{{ page.title }}</a></h4>
    </div>
    <div class="lead__content markdown hp-content">
      {{ content }}
    </div>
  </section>
  
  <div class="home__content">

    {% if site.bonsai.home.notable.enabled %}
      <section class="featured">
        <div class="featured__header">
          <h4>Notable</h4>
        </div>
        <div class="featured__content">
          <ul>
            {% for notable in site.bonsai.home.notable.docs %}
              {% assign doc = site.documents | find_exp: "item", "item.path contains notable" %}
              <li>
                <div class="item">
                  <div class="item__status">
                    {% include btn_state.html states=doc.status %}
                  </div>
                  <div class="item__text">
                    <span>
                      <a class="wiki-link" href="{{ doc.url | relative_url }}"> {{ doc.title }}</a>
                    </span>
                    <time class="text--date dt-updated">
                      {{ doc.updated | date: '%s' | slice: 0, 10 | date: site.bonsai.date_format }}
                    </time>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          {% assign about_page = site.pages | where: "name", "about.md" %}
          <!-- using '.first' to test if any results were found -->
          {% if about_page.first %}
            <p class="featured__footer">For more, see <a class="wiki-link" href="{{ '/about/' | relative_url }}">about {{ site.data.emoji.about }}</a></p>
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% if site.bonsai.home.recent.enabled %}
      <section class="featured__section">
        <div class="featured__header">
          <h4>Recent</h4>
        </div>
        <div class="featured__content">
          <ul>
            {% assign recent_docs = site.documents | sort: 'updated' | reverse %}
            {% for doc in recent_docs limit: site.bonsai.home.recent.cap %}
              <li>
                <div class="item">
                  <div class="item__status">
                    {% include btn_state.html states=doc.status %}
                  </div>
                  <div class="item__text">
                    <span>
                      <a class="wiki-link" href="{{ doc.url | relative_url }}"> {{ doc.title }}</a>
                    </span>
                    <time class="text--date dt-updated">
                      {{ doc.updated | date: '%s' | slice: 0, 10 | date: site.bonsai.date_format }}
                    </time>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          {% assign recent_page = site.pages | where: "name", "recent.md" %}
          <!-- using '.first' to test if any results were found -->
          {% if recent_page.first %}
            <p class="featured__footer">
              For more updates, check the <a class="wiki-link" href="{{ '/recent/' | relative_url }}">weather {{ site.data.emoji.recent }}</a>
            </p>
          {% endif %}
        </div>
      </section>
    {% endif %}

  </div>

</div>