---
layout: default
---

<div id="note">
  
  {% include note-head.html %}

  <div class="note-body">
    <h1>{{ page.title }}</h1>
    <div style="padding-bottom: 12px;">
      <span>{{ page.tags }}</span>
      <span class="small-descr">Last Updated: {{ page.updated | date: "%Y-%m-%d" }}</span>
    </div>

    {% if page.title == site.index_note_title %}
      <img id="home-bonsai" style="float: right; padding: 12px;" height="35%" width="35%">
    {% endif %}
    
    {{ content }}
  </div>

  {% include note-foot.html %}

</div>
