---
layout: default
---
{% assign plants = site.plants | sort: "order"  %}

<div class="plant-nav">
  <nav class="plant-nav-list">
    {% for plant in plants %}
      <a href="{{ plant.url }}" class="plant-list-item {% if page.url contains plant.title %}active{% endif %}">
        {{ plant.emoji }}
      </a>
    {% endfor %}
  </nav>
</div>

<!-- all tags -->
{% if page.title == "tags" %}
  <h1>🔖 Plant Tags In This Garden</h1>
  {{ content }}
  <p style="color: #959396; font-size: 12px; margin-bottom: 0px;">
    Descriptions only reflect the spirit of this garden. 
    Click <a href="{{ page.emojipedia }}">here</a> for the official emoji description.
  </p>
  {% for plant in plants %}
    {% if plant.title != "tags" %}
      <h2>{{ plant.emoji }} <a href="{{ plant.url }}" class="wiki-link">{{ plant.title }}</a></h2>
      <p>{{ plant.content | markdownify }}</p>
    {% endif %}
  {% endfor %}
<!-- individual tags -->
{% else %}
  <!-- page == plant (from plant-nav) -->
  {% assign notes_with_plant = site.notes | where: 'tags', page.emoji %}
  <h1>{{ page.emoji }} {{ page.title }}</h1>
  {{ content }}
  <p style="color: #959396; font-size: 12px; margin-bottom: 0px;">
    Descriptions only reflect the spirit of this garden. 
    Click <a href="{{ page.emojipedia }}">here</a> for the official emoji description.
  </p>
  <hr>
  {% for note in notes_with_plant %}
    {% if note.tags contains page.emoji %}
      <p>{{ page.emoji }} <a href="{{ site.baseurl }}{{ note.url }}" class="wiki-link">{{ note.title }}</a></p>
    {% endif %}
  {% else %}
    There are currently no {{ page.emoji }}s.
  {% endfor %}
{% endif %}
