---
layout: default
---
<!-- page == plant (from gbed-nav) -->
{% assign notes_with_plant = site.notes | where: 'tags', page.emoji %}

<div class="gbed-nav">
  {% include gbed-nav.html %}
</div>

<h1>{{ page.emoji }} {{ page.title }}</h1>
{{ content }}
<p style="color: #959396; font-size: 12px; margin-bottom: 0px;">Descriptions only reflect the spirit of this garden.</p>
<p style="color: #959396; font-size: 12px; margin-top: 0px;">Click <a href="{{ page.emojipedia }}">here</a> for the official emoji description.</p>
<hr>
<ul>
  {% for note in notes_with_plant %}
    {% if note.tags contains page.emoji %}
      <li>{{ page.emoji }} <a class="wiki-link" href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></li>
    {% endif %}
  {% else %}
    There are currently no {{ page.emoji }}s.
  {% endfor %}
</ul>
<hr>
