---
layout: default
---

<div id="post">

  <h1>{{ page.title }}</h1>
  <p class="small-descr">
    {% for stat_tag in page.status %}
      {% assign state = site.states | where: "emoji", stat_tag | first %}
      <a class="stat-tag" href="{{ state.url | relative_url }}">{{ state.emoji }}</a>  
    {% endfor %}
    <span>Last Tended: {{ page.updated | date: site.date_format }}</span>
  </p>

  {{ content }}

  <p>
    {% assign sem_tags = page.tags | sem_tags %}
    {% for sem_tag in sem_tags %}
      <a class="sem-tag" href="{{ sem_tag.url | relative_url }}">{{ sem_tag.tag }}</a>
    {% endfor %}
  </p>

  {% if site.social.enabled %}
    {% include share.html %}
  {% endif %}

</div>
