---
layout: default
---

<div id="post">

  <h1>{{ page.title }}</h1>
  <p>
    {% assign sem_tags = page.tags |  sem_tags %}
    {% for sem_tag in sem_tags %}
      <a class="sem-tag" href="{{ sem_tag.url | relative_url }}">{{ sem_tag.tag }}</a>
    {% endfor %}
  </p>
  <p class="small-descr">
    {% assign stat_tags = page.tags | stat_tags %}
    {% for stat_tag in stat_tags %}
      <a class="stat-tag" href="{{ stat_tag.url | relative_url }}">{{ stat_tag.emoji }}</a>
    {% endfor %}
    <span>Last Tended: {{ page.updated | date: "%Y-%m-%d" }}</span>
  </p>

  {{ content }}

  {% include share.html %}

</div>
