---
layout: default
---
<div id="recent">

  <div>
    <h1 class="hp-title">{{ site.data.emoji.recent }} {{ page.title }}</h1>
    <div class="hp-content leader">
      <div>
        {{ content }}
      </div>
      <div class="infobox">
        <p class="title">Key</p>
        <p>{{ site.data.emoji.created }} Created</p>
        <p>{{ site.data.emoji.updated }} Updated</p>
        <p class="small-descr"><em>{{ site.data.emoji.deleted }} Deleted (Inactive)</em></p>
      </div>
    </div>
  </div>

  <div>
    <ul class="recent-list">
      {% assign recent_docs = site.documents | sort: 'updated' | reverse %}
      {% for doc in recent_docs limit: site.bonsai.recent.cap %}
        <li class="recent-list-item">
          
          <div class="recent-list-item-scene">
            <!-- weather emoji -->
            <span class="recent-list-item-change">
              {{ doc | modified_emoji }}
            </span>
            <!-- plant emojis -->
            <span class="recent-list-item-stat">
              {% include btn_state.html states=doc.status %}
            </span>
          </div>
          
          <div class="recent-list-item-text">
            <!-- title -->
            <span class="recent-list-item-title">
              <a class="wiki-link" href="{{ doc.url | relative_url }}">{{ doc.title }}</a>  
            </span>
            <!-- date updated -->
            <span class="recent-list-item-date">
              {{ doc.updated | date: site.bonsai.date_format }}
            </span>
          </div>
        
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
