---
layout: default
---
<div id="recent">

  <div>
    <h1>{{ site.emoji.recent }} {{ page.title }}</h1>
    <div class="leader">
      <div class="infobox">
        <p class="title">Key</p>
        <p>{{ site.emoji.created }} Created</p>
        <p>{{ site.emoji.updated }} Updated</p>
        <p class="small-descr"><em>{{ site.emoji.deleted }} Deleted (Currently not active)</em></p>
      </div>
      <p>
        {{ content }}
      </p>
    </div>
  </div>

  <div>
    <h2>Posts</h2>
    <ul class="recent-list">
      {% for post in site.posts limit: site.recent_cap %}
        <li class="recent-list-item">
          <a class="wiki-link" href="{{ post.url | relative_url }}">{{ post | modified_emoji }} {{ post.title }}</a>
          <span class="date-updated">{{ post.updated | date: site.date_format }}</span>
        </li>
      {% endfor %}
    </ul>
    
    <h2>Entries</h2>
    <ul class="recent-list">
      {% for entry in site.entries limit: site.recent_cap %}
        <li class="recent-list-item">
            <a class="wiki-link" href="{{ entry.url | relative_url }}">{{ entry | modified_emoji }} {{ entry.title }}</a>
            <span class="date-updated">{{ entry.updated | date: site.date_format }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
