---
layout: default
---

<div id="sem-tag">

  <!-- the PATH from root to leaf -->
  <header id="sem-tag-header">
    <nav class="sem-tag-head-nav" role="navigation" aria-label="breadcrumb">
      <label class="btn-selector">
        <input id="sem-tag-head-checkbox" type="checkbox">
        <span id="sem-tag-head-emoji-span" title="Toggle Path">🛤</span>
      </label>
      <ol class="sem-tag-head-breadcrumbs">
        {% for ancestor in page.ancestors %}
          <li class="sem-tag-head-breadcrumb">
            <a class="wiki-link {% if ancestor.id == '' %}missing-sem-tag-txt{% endif %} " href="{{ ancestor.url | relative_url }}">
              {{ ancestor.title }}
            </a>
          </li>
        {% endfor %}
        <li class="sem-tag-head-breadcrumb">
          <span>{{ page.title }}</span>
        </li>
      </ol>
    </nav>
  </header>

  <div class="sem-tag-body">

    <h1>{{ page.title }}</h1>
    <p class="small-descr">
      {% assign stat_tags = page.tags | stat_tags %}
      {% for stat_tag in stat_tags %}
        <a class="status-tag" href="{{ stat_tag.url | relative_url }}">{{ stat_tag.emoji }}</a>
      {% endfor %}
      <span>Last Tended: {{ page.updated | date: "%Y-%m-%d" }}</span>
    </p>

    {% include sem-tag-attrs.html %}

    {% if page.title == site.index_title %}
      <img id="home-bonsai" style="float: right; padding: 12px;" height="35%" width="35%">
    {% endif %}
    
    {{ content }}

  </div>

  {% include share.html %}

  <footer class="sem-tag-footer">
    <!-- Forks on the path -->
    <div class="sem-tag-foot-wrapper">
      <div> <!-- extra div so 'sem-tag-foot-selector' animation only effects the emoji label-->
        <label class="sem-tag-foot-selector">
          <input id="sem-tag-foot-links-checkbox" type="checkbox">
          <span id="sem-tag-foot-link-emoji-span" title="Toggle Links">🚏</span>
        </label>
      </div>
      <nav id="sem-tag-foot-links-nav" class="sem-tag-foot-nav" role="navigation" aria-label="">
        <span class="sem-tag-foot-nav-title">
          Forks On The Path
        </span>
        <div class="sem-tag-foot-nav-sections">
          <div class="sem-tag-foot-nav-section">
            <h4 class="sem-tag-foot-nav-subtitle">Children</h4>
            <ul class="sem-tag-foot-nav-list">
              {% for child in page.children %}
                <li class="sem-tag-foot-nav-list-item">
                  <a class="wiki-link {% if child.id == '' %}missing-sem-tag-txt{% endif %}" href="{{ child.url | relative_url }}">
                    {{ child.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="sem-tag-foot-nav-section">
            <h4 class="sem-tag-foot-nav-subtitle">Backlinks</h4>
            <ul class="sem-tag-foot-nav-list">
              {% assign note_backlinks = page.backlinks | doc_type: "notes" %}
              {% for backlink in note_backlinks %}
                <li class="sem-tag-foot-nav-list-item">
                  <a class="wiki-link" href="{{ backlink.doc.url | relative_url }}">{{ backlink.doc.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- Field bLogs -->
    <div class="sem-tag-foot-wrapper">
      <div> <!-- extra div so 'sem-tag-foot-selector' animation only effects the emoji label-->
        <label class="sem-tag-foot-selector field-blogs">
          <input id="sem-tag-foot-posts-checkbox" type="checkbox">
          <span id="sem-tag-foot-posts-emoji-span" title="Toggle Posts">📓</span>
        </label>
      </div>
      <nav id="sem-tag-foot-posts-nav" class="sem-tag-foot-nav" role="navigation" aria-label="">
        <span class="sem-tag-foot-nav-title">
          Field bLogs
        </span>
        <div class="sem-tag-foot-nav-section">
          <h4 class="sem-tag-foot-nav-subtitle">Posts</h4>
          <ul class="sem-tag-foot-nav-list">
            {% assign semantic_tagged_posts = page.namespace | semantic_tagged_posts %}
            {% for post in semantic_tagged_posts %}
              <li class="sem-tag-foot-nav-list-item">
                <a class="wiki-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    <!-- webmentions -->
    <div class="sem-tag-foot-wrapper">
      <div> <!-- extra div so 'sem-tag-foot-selector' animation only effects the emoji label-->
        <label class="sem-tag-foot-selector webmentions">
          <input id="sem-tag-foot-webmentions-checkbox" type="checkbox">
          <span id="sem-tag-foot-webmentions-emoji-span" title="Toggle Webmentions">🌊</span>
        </label>
      </div>
      <nav id="sem-tag-foot-webmentions-nav" class="sem-tag-foot-nav" role="navigation" aria-label="" aria-label="">
        <span class="sem-tag-foot-nav-title">
          The Stream
        </span>
        <div class="sem-tag-foot-nav-section">
          {% webmentions %}
        </div>
      </nav>
    </div>
  </footer>  

</div>
