---
layout: default
---
{% assign stat_docs = site.stat_docs  %}
{% assign index_stat_doc_title = "Plant Tags Page" %}

<div id="stat-docs" class="stat-docs-page">
  <nav class="stat-docs-nav">
    <ul class="stat-docs-nav-list">
      {% for stat_doc in stat_docs %}
        <li class="stat-docs-list-item {% if page.url == stat_doc.url %}active{% endif %}">
          <a href="{{ stat_doc.url | relative_url }}" class="stat-tag">
            {{ stat_doc.emoji }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- all stat_docs -->
  {% if page.title == index_stat_doc_title %}
    <h1>🔖 Plant Tags In This Garden</h1>
    {{ content }}
    <p class="small-descr">
      Descriptions only reflect the spirit of this garden. 
      Click <a href="{{ page.emojipedia }}">here</a> for the official emoji description.
    </p>
    {% for stat_doc in stat_docs %}
      {% if stat_doc.title != index_stat_doc_title %}
        <h2>{{ stat_doc.emoji }} <a href="{{ stat_doc.url | relative_url }}" class="wiki-link">{{ stat_doc.title }}</a></h2>
        <p>{{ stat_doc.content | markdownify }}</p>
      {% endif %}
    {% endfor %}
  <!-- individual stat_docs -->
  {% else %}
    <!-- page == tag (from tag-nav) -->
    {% assign entries_w_stat = site.entries | where: 'tags', page.emoji %}
    <h1>{{ page.emoji }} {{ page.title }}</h1>
    {{ content }}
    <p class="small-descr">
      Descriptions only reflect the spirit of this garden. 
      Click <a href="{{ page.emojipedia }}">here</a> for the official emoji description.
    </p>

    {% if entries_w_stat.size == 0 %}
      <div class="no-results">
        There are currently no {{ page.emoji }}s.
      </div>
    {% else %}
      <ul class="stat-docs-list">
        {% for entry in entries_w_stat %}
          <li class="stat-docs-list-item">
            {{ page.emoji }} <a href="{{ entry.url | relative_url }}" class="wiki-link">{{ entry.title }}</a>
          </li>
        {% endfor %}  
      </ul>
      {% endif %}
  {% endif %}
</div>
