---
layout: default
---
{% assign states = site.states  %}
{% assign index_state_title = "Plant Tags Page" %}

<div id="states">
  <nav class="states-nav">
    <ul class="states-nav-list">
      {% for state in states %}
        <li class="states-list-item {% if page.url == state.url %}active{% endif %}">
          <a class="stat-tag" href="{{ state.url | relative_url }}">
            {{ state.emoji }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <h1>{{ page.emoji }} {{ page.title }}</h1>
  {{ content }}
  <p class="small-descr">
    Descriptions only reflect the spirit of this garden. 
    Click <a class="web-link" href="{{ page.emojipedia }}">here</a> for the official emoji description.
  </p>
  <!-- page == tag (from tag-nav) -->
  {% assign docs_w_stat = site.documents | where: 'status', page.emoji %}
  {% if docs_w_stat.size == 0 and page.path != site.bonsai.states.root_path %}
    <div class="no-results">
      There are currently no {{ page.emoji }}s.
    </div>
  {% else %}
    <ul class="states-list">
      {% for entry in docs_w_stat %}
        <li class="states-list-item">
          {{ page.emoji }} <a class="wiki-link" href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}  
    </ul>
  {% endif %}
</div>
