$body-background-color: $grey-dk-300;
$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;

$border-color: $grey-dk-200;
$separator-color: $grey-dk-200; // also used for '.infobox'

$base-button-color: $grey-dk-250; // used for tags

$code-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$box-shadow-color: $white;

// link variables

$link-color: $blue-000;
$wiki-link-color: $green-07;
$wiki-link-underline-color: $grey-dk-200;
$invalid-wiki-link-color: $grey-dk-200;

// blockquote decoration
$blockquote-border-color: rgba($grey-dk-200, 0.33);
$blockquote-quote-color: rgba($grey-dk-200, .75);
