$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$table-shadow-color: $white;
$feedback-color: darken($sidebar-color, 3%);

// link variables

$link-color: $blue-100;
$wiki-link-color: $green-100;

// graph variables

$link-line-stroke-color: $grey-dk-200;
$link-line-stroke-width: 0.5;
$link-line-dash-val: 0;

$node-color: $green-05;
$node-stroke-color: $grey-dk-200;
$node-radius: 2.5;
$node-stroke-width: 1;

$node-active-color: $yellow-200;
$node-missing-color: $transparent;
$node-missing-radius: 2.5;

// blockquote decoration
$blockquote-border-color: rgba($link-line-stroke-color, 0.33);
$blockquote-quote-color: rgba($link-line-stroke-color, .75);
