$body-background-color: $green-01 !default;
$sidebar-color: $grey-lt-000 !default;
$border-color: $grey-lt-100 !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$nav-child-link-color: $grey-dk-100 !default;
$search-background-color: $white !default;

$btn-primary-color: $green-200 !default;
$base-button-color: $green-02 !default;

$code-background-color: $grey-lt-000 !default;
$search-result-preview-color: $grey-dk-000 !default;
$table-background-color: $white !default;
$table-shadow-color: $black !default;
$feedback-color: darken($sidebar-color, 3%) !default;

// link variables

$link-color: $blue-200 !default;
$wiki-link-color: $green-200 !default;

// graph variables

$link-line-stroke-color: $brown-00;
$link-line-stroke-width: 0.5;
$link-line-dash-val: 0;

$node-color: $green-05;
$node-stroke-color: $transparent;
$node-radius: 3;
$node-stroke-width: 0;

$node-active-color: $yellow-300;
$node-missing-color: $brown-00;
$node-missing-radius: 1.5;

// blockquote  
$blockquote-border-color: rgba($link-line-stroke-color, 0.33) !default;
$blockquote-quote-color: rgba($link-line-stroke-color, .5) !default;
