$body-background-color: $green-01 !default;
$sidebar-color: $grey-lt-000 !default;
$border-color: $grey-lt-100 !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$nav-child-link-color: $grey-dk-100 !default;
$search-background-color: $white !default;

$link-color: $blue-200 !default;
$wiki-link-color: $green-200 !default;
$btn-primary-color: $green-200 !default;
$base-button-color: #f7f7f7 !default;

$code-background-color: $grey-lt-000 !default;
$search-result-preview-color: $grey-dk-000 !default;
$table-background-color: $white !default;
$feedback-color: darken($sidebar-color, 3%) !default;
