//
// two column layout
//

.site-nav-container {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    width: $nav-width-md;
    flex-wrap: nowrap;
    position: fixed;
    height: 100%;
  }

  @include mq(lg) {
    width: $nav-width-lg;
  }
}

.main-container {
  @include container;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    max-width: $content-width;
    margin-left: $nav-width-md;

    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }

  @include mq(lg) {
    margin-left: $nav-width-lg;
  }

  .main {
    flex: 1 0 auto;
  }

  .main-foot {
    // 'sticky footer' from: https://css-tricks.com/couple-takes-sticky-footer/#there-is-flexbox
    //  ex = local
    //    footer = main-foot
    //    content = main
    //    body = main-container
    //    html, body = main-container (height is min-height)
    flex-shrink: 0;
    display: flex;
  }  
}