//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  background: $selection-color;
}

html {
  @include fs-4;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-top: 0;
  // margin-bottom: 1em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a.web-link {
  color: $link-color;
  text-decoration: none;
  background-image: linear-gradient($link-underline-color 0%, $link-underline-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      rgba($link-color, 0.45) 0%,
      rgba($link-color, 0.45) 100%
    );
    background-size: 1px 1px;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 0.75em;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}

// wiki-link classes

.invalid-wiki-link {
  color: $invalid-wiki-link-color;
  cursor: help;
}

.wiki-link { 
  color: $wiki-link-color;
  text-decoration: none;
  background-image: linear-gradient($wiki-link-underline-color 0%, $wiki-link-underline-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      rgba($wiki-link-color, 0.45) 0%,
      rgba($wiki-link-color, 0.45) 100%
    );
    background-size: 1px 1px;
  }  
}

.wiki-link-embed {
  position: relative;
  border: 1px solid $separator-color;
  border-radius: 15px;
  padding: $sp-3;

  .wiki-link-embed-title {
    @include fs-6;
    padding-top: $sp-3;
    padding-left: $sp-3;
  }

  .wiki-link-embed-content {
    padding: $sp-3;
  }
  
  .wiki-link-embed-link {
    position: absolute;
    top: 1em;
    right: 1em;

    &::before {
      content: "🥾";
    }

    &:hover {
      filter: drop-shadow(0 0 0.8mm $drop-shadow-brown);
    }
  }
}

.wiki-link-embed-image {
  display: flex;
  justify-content: center;
  padding-top: $sp-2;
  padding-bottom: $sp-2;

  .wiki-link-img {
    height: 50%;
    width: 50%;    
  }
}

.stat-tag {
  filter: drop-shadow(0 0 0.2mm $drop-shadow-green);
}

.doc-status {
  margin-top: $sp-2;
  margin-bottom: $sp-2;
}

.infobox {
  @include fs-2;
  width: 100%;
  height: 100%;
  margin: $sp-3;
  padding: $sp-3;
  padding-left: $sp-5;
  border: 1px solid $separator-color;
  border-radius: 15px;

  .title {
    @include fs-4;
    text-align: center;
    margin-top: 0;
  }

  ul {
    padding: 0 !important;
    padding-left: $sp-2 !important;
    padding-right: $sp-2 !important;

    li {
      list-style-type: none !important;
  
      &::before {
        content: "" !important;
      }
    }  
  }
}

// pencil textured svgs

.pencil-yellow,
.pencil-blue,
.pencil-green {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

// .pencil-default {
//   stroke: #e6e1e8;
//   fill: #e6e1e8;
// }

// .pencil-blue {
//   stroke: #0047aa;
// }

// .pencil-green {
//   stroke: #31AF31;
// }

// .pencil-yellow {
//   stroke: #dfb600;
// }

.pencil-txt {
  font-family: BradleyHandITCTT-Bold, Bradley Hand;
  font-size: 52px;
}

.pencil-txt-sm {
  font-size: 27px;
}
