//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

body {
  line-height: $content-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-top: $sp-2;
}

h1,
.text-alpha {
  @include fs-10;
}

h2,
.text-beta {
  @include fs-8;
}

h3,
.text-gamma {
  @include fs-7;
}

h4,
.text-delta {
  @include fs-6;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  @include fs-5;
  color: $accent-txt-color;
}

h6,
.text-zeta {
  @include fs-4;
  color: $accent-txt-color;
}

.text {

  &--center {
    text-align: center !important;
  }

  &--date {
    @include fs-4;
    color: $accent-txt-color;
  }

  &--small {
    @include fs-2;
    color: $accent-txt-color;
  }

//   &--left {
//     text-align: left !important;
//   }

//   &--mono {
//     font-family: $mono-font-family !important;
//   }

  &--no-point {
    pointer-events: none;
  }

//   &--right {
//     text-align: right !important;
//   }
}
